body {
    background-image: url("zoroegg.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    text-align: center;
    height: 100vh;
    margin: 0;
}

@media (max-width: 768px) {
    body {
        background-size: cover;
        background-position: center top;
    }
}

h1 {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    border: 7px solid black;
    border-radius: 15px;
    padding: 20px;
    background-color: lightgreen;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around; 
    margin: 20px;
    flex-wrap: wrap;
}

.box1, .box2, .box3, .box4, .box5 {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 2px solid black; 
    font-size: 16px; 
    text-align: center; 
    border-radius: 8px;
}

.box1 { background-color: red; }
.box2 { background-color: lightblue; }
.box3 { background-color: green; }
.box4 { background-color: grey; }
.box5 { background-color: purple; }
